* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", HelveticaNeue-Light, "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background-color: #f5ebdc;
	width: 100%;
}

.wrapper {
	margin-right: 7em;
	margin-left: 7em;
}

/* Address Bar   */

.address-bar {
	background-color: #000;
}

.address-bar h3 {
	color: #fff;
}

/* Navbar */

.navbar {
	/* background-color: #c00a27; */
	background-color: #e2241a;
	position: sticky;
	top: 0;
	z-index: 999;
}

.navbar-container {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	position: sticky;
	z-index: 999;
}

.left,
.right,
.center {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.right {
	justify-content: flex-end;
	margin-right: 40px;
}

.right .item {
	flex: none;
	color: #fff;
	margin-right: 20px;
	font-weight: 500;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}

.item .open-status {
	color: #1ae224;
	font-size: 20px;
	font-weight: 600;
	margin-right: 10px;
}

.list {
	padding: 0;
	display: flex;
	align-items: center;
	list-style: none;
	color: #fff;
}

.list a {
	text-decoration: none;
	color: #fff;
}

.listItem {
	cursor: pointer;
	margin: 20px;
	font-size: 20px;
	font-weight: 500;
}

.cart {
	position: relative;
}

.count {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
	padding: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	/* color: #c00a27; */
	color: #e2241a;
}

@media screen and (max-width: 480px) {
	.item:nth-child(2) {
		display: none;
	}

	.item:nth-child(1) {
		flex: 3;
	}
}

/* Hero  */

.hero-container {
	overflow: hidden;
	position: relative;
}

video#bgvideo {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -999;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.hero-wrapper {
	width: 100vw;
	height: 100%;
	display: flex;
}

.hero-imageContainer {
	width: 100vw;
	height: 100vh;
	/* background-image: url("img/hero.jpg");
	background-repeat: no-repeat, repeat;
	background-position: center; */
	display: flex;
	/* align-items: center; */
	justify-content: center;
	font-family: "Yanone Kaffeesatz", sans-serif;
	position: relative;
}

.hero-text {
	padding-top: 50px;
	padding-bottom: 50px;
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	position: relative;
}

.hero-text .special-tag {
	position: absolute;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.order-online-btn {
	width: 30%;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 20px;
	color: #fff;
	background-color: #e2241a;
	cursor: pointer;
	position: absolute;
	right: 30%;
	bottom: -40%;
}

.new-tag {
	width: 70px;
	height: 70px;
	background-color: orange;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	margin-right: 10px;
}

.new-tag h2 {
	color: #fff;
	font-size: 25px !important;
}

.hero-text .special-tag-clr {
	background-color: teal;
	width: 200px;
	top: -20%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	flex-direction: column;
}

.hero-text .special-tag-trns {
	background-color: transparent;
	width: auto;
	top: -28%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	flex-direction: row;
}

.special-tag h3 {
	font-size: 30px;
	color: #fff;
}

.hero-text h2 {
	font-size: 62px;
	font-weight: 600;
	line-height: 60px;
	text-transform: uppercase;
	text-align: center;
}

.hero-text .second-h2 {
	/* color: #c00a27; */
	color: #e2241a;
}

.hero-text .third-h2 {
	color: #fff;
}

.hero-text .text {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	color: #fff;
	text-transform: uppercase;
}

.hero-text .second-text {
	flex-direction: row;
	align-items: flex-end;
}

.hero-text .third-text {
	flex-direction: column;
	align-items: center;
}

.hero-text .fourth-text {
	flex-direction: column;
	align-items: center;
}

.small-text {
	padding-bottom: 20px;
	padding-right: 15px;
	padding-left: 15px;
}

.small-text-1 {
	font-size: 50px;
	font-weight: 400;
}

.small-text-2 {
	font-size: 62px;
	font-weight: 400;
}

.large-text {
	font-size: 130px;
	font-weight: 700;
	padding-right: 15px;
	padding-left: 15px;
}

.small .hero-imageContainer img {
	width: 100vw;
	object-fit: contain;
}

.carousel {
	position: relative;
	margin: 0 auto;
}

.carousel .carousel-item,
.carousel .carousel-item-hidden {
	display: none;
}

.carousel .carousel-item-visible {
	display: block;
	position: absolute;
	top: 25%;
	animation: fadeVisibility 0.8s;
}

@keyframes fadeVisibility {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 480px) {
	.hero-container {
		height: 50vh;
	}
}

/* card */

.card-container {
	width: 22%;
	padding: 20px 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 15px;
	width: 280px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.479);
	backdrop-filter: blur(10px);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-image {
	margin-bottom: 15px;
	margin-top: 10px;
}

.card-title {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #e2241a;
	margin-bottom: 15px;
}

.card-price {
	font-size: 18px;
	font-weight: bold;
	color: #3a3a3a;
	margin-bottom: 15px;
}

.card-description {
	text-align: center;
	margin-bottom: 10px;
	padding: 0 5px;
}

.card-link {
	color: #fff;
	background-color: #e2241a;
	padding: 10px 30px;
	border-radius: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	border: 0;
	font-size: 20px;
}

@media only screen and (max-width: 900px) {
	.card-container {
		width: 100%;
		padding: 10px 20px;
	}

	.card-image {
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.card-title {
		font-size: 20px;
	}

	.card-price,
	.card-description {
		font-size: 17px;
	}

	.card-link {
		font-size: 17px;
		padding: 10px 30px;
		border-radius: 20px;
		margin-top: 8px;
		margin-bottom: 20px;
	}
}

/* Product Modal  */

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.75);
	transition: all 250ms ease-in-out;
	opacity: 0;
	visibility: hidden;
}

.modal-bg {
	visibility: visible;
	opacity: 1;
	z-index: 2;
}

.modal-content {
	padding: 10px 5px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-height: 540px;
	max-width: 960px;
	background-color: #edf7f6;
	visibility: hidden;
	opacity: 0;
	transform: translateY(-100px);
	transition: all 250ms ease-in-out;
}

.modal-content-show {
	transform: translateY(0);
	visibility: visible;
	opacity: 1;
	z-index: 3;
}

.modal-img {
	width: 100%;
}

.modal-close {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #212527;
	cursor: pointer;
	transition: all 250ms ease-in-out;
	z-index: 3;
}

.modal-close:hover {
	color: #212527;
}

.modal-left,
.modal-right {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	height: 100%;
}

.detail {
	color: #000 !important;
	height: 95%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

.detail-item {
	flex: 1;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

.detail-item div {
	margin-left: 5px;
	margin-bottom: 5px;
}

.detail-item form {
	display: flex;
	flex-wrap: wrap;
}

.detail-item label {
	margin-left: 3px;
	margin-right: 10px;
}

.detail-item h3 {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
}

.detail-item input[type="number"] {
	font-size: 18px;
	font-weight: 600;
	width: 30px;
	padding: 5px 10px;
	text-align: center;
}

.detail-item input::-webkit-outer-spin-button,
.detail-item input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.detail-item input[type="number"] {
	-moz-appearance: textfield;
}

.detail-item.quantity-box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row-reverse;
}

.quantity-box span {
	padding: 8px 12px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #e2241a;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
}

.quantity-box p {
	padding: 8px 10px;
	width: 15px;
	text-align: center;
}

.quantity-box span:last-child {
	padding: 8px 14px;
}

.detail-title {
	text-transform: uppercase;
	margin-bottom: 10px;
}
.detail-title {
	font-size: 25px;
	color: #e2241a;
}
.detail-price {
	font-weight: bold;
	font-size: 30px;
	color: #000;
}
.detail-bagBtn {
	cursor: pointer;
	background: #e2241a;
	border-radius: 20px;
	color: #edf7f6;
	text-align: center;
	padding: 10px 20px;
	font-weight: bold;
	transition: all 250ms ease-in-out;
}

.detail-bagBtn-disabled {
	pointer-events: none;
	opacity: 0.5;
}

@media only screen and (max-width: 900px) {
	.modal-close {
		top: 10px;
		right: 10px;
	}
	.modal-content {
		grid-template-columns: repeat(1, 1fr) !important;
		max-height: fit-content;
		max-width: 800px;
	}
	.modal-right,
	.modal-left {
		padding: 25px 20px;
	}
	.detail {
		height: 100%;
	}

	.detail-item {
		padding: 8px 1px;
	}
}

/* product List  */

.productList {
	background-color: #e2241a;
	color: #fff;
	margin-top: 40px;
	margin-bottom: 10px;
	padding-bottom: 20px;
}
.productList-container {
	padding: 20px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #e2241a;
	color: #fff;
}

.productList-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}

.productList-title-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 20px;
}

.productList-title {
	font-size: 50px;
	margin-top: 30px;
	margin-bottom: 10px;
	font-weight: 600;
}

.productList-hr {
	border: 0;
	border-bottom: 3px solid #fff;
	width: 75%;
}
/* 
.productList .card-title,
.card-description,
.card-price {
	color: #fff !important;
} */

.productList .card-link {
	background-color: #fff;
	color: #e2241a;
	font-weight: 600;
}

.productList-menu-link {
	background-color: #fff;
	color: #e2241a;
	font-weight: 600;
	border-radius: 5px;
	padding: 15px 20px;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Home Page  */

.home-image-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 20px;
}

.home-image-container .row {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 95%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.row .row-item {
	flex: 1;
	width: 45%;
	height: 425px;
	margin-left: 5px;
	margin-right: 5px;
}

.row:nth-child(1) .row-item:nth-child(1) {
	background-image: url("https://images.unsplash.com/photo-1609159085964-e47ec0804449?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTEyfHxwaXp6YXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60");
	background-repeat: no-repeat;
	background-size: cover;
}
.text-row {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.text-row h3 {
	font-size: 35px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
	margin-right: 20px;
	margin-left: 20px;
}

.text-row p {
	font-size: 25px;
	font-weight: 300;
	letter-spacing: 1px;
	text-align: center;
	margin-right: 20px;
	margin-left: 20px;
}

.row:nth-child(2) .row-item:nth-child(2) {
	background-image: url("https://images.pexels.com/photos/315755/pexels-photo-315755.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-repeat: no-repeat;
	background-size: cover;
}

/* Menu Page  */
.menu-main {
	background-color: #f5ebdc;
}

.menu-hero {
	height: 550px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8dGFibGV8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
	background-repeat: no-repeat;
	background-size: cover;
}

.menu-hero-title {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.menu-hero-title-bgc {
	background-color: #fff;
	opacity: 0.2;
	height: 200px;
	width: 100%;
}

.menu-hero-title h1 {
	position: absolute;
	font-size: 90px;
	color: #fff;
	text-transform: uppercase;
}

/* .menu-wrapper {
} */

.menu-list {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e2241a;
}

.menu-list ul {
	width: 80%;
	height: 100%;
	font-size: 20px;
	color: #000;
	list-style: none;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.menu-list ul li {
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 1px;
	cursor: pointer;
	position: relative;
}

.menu-list .active {
	color: #f5ebdc;
}

.arrow-up {
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #f5ebdc;
}

.tab {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}
/* 
.tab .card,
.card-description,
.card-price {
	color: #000 !important;
} */

.tab-title {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.tab-title h2 {
	margin-bottom: 10px;
	font-size: 30px;
	text-transform: uppercase;
	color: #e2241a;
}

/* Review Section  */

* {
	margin: 0;
	padding: 0;
}

main {
	min-width: 98vw;
	min-height: 80vh;
}

.review-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.review-container.col {
	flex-direction: column;
}

.review-container-title h2 {
	font-size: 35px;
	line-height: 1;
	margin-bottom: 12px;
	letter-spacing: 2px;
}

.underline {
	height: 4px;
	width: 80px;
	background: #e2241a;
	margin: 0 auto 54px;
}

.review {
	background: white;
	border-radius: 10px;
	width: 70vw;
	max-width: 550px;
	text-align: center;
	padding: 24px 32px;
}

.review-img-container {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 1.5rem;
}

.review-img-container:before {
	content: "";
	width: 100%;
	height: 100%;
	background: #e2241a;
	position: absolute;
	top: -0.25rem;
	right: -0.5rem;
	border-radius: 50%;
}
.fas.fa-quote-right {
	font-weight: 900;
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	display: grid;
	place-items: center;
	border-radius: 50%;
	transform: translateY(25%);
	background: #49a6e9;
	color: white;
}

#img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	position: relative;
}

.review p {
	margin-bottom: 4px;
	text-align: center;
}

#author {
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 2px;
	text-transform: capitalize;
}

#job {
	font-size: 13px;
	color: #49a6e9;
	text-transform: uppercase;
}

#info {
	color: #617d98;
	line-height: 1.4;
	font-size: 16px;
}

.review-arrow-buttons {
	margin-top: 10px;
}

.btn {
	outline: none;
	border: none;
	background: transparent;
	user-select: none;
}

.arrow-btn,
.surprise-btn {
	transition: all 0.3s linear;
}

.arrow-btn {
	color: #f5ebdc;
	margin: 0 10px;
	font-size: 25px;
	cursor: pointer;
}

.arrow-btn:hover {
	color: #f0bda9;
}

.surprise-btn {
	border: 2px solid #49a6e9;
	font-size: 12px;
	padding: 5px 10px;
	margin: 15px 0 0;
	border-radius: 10px;
	color: #49a6e9;
}

.surprise-btn:hover {
	color: black;
	background: #49a6e9;
}

/* Product page  */

.product-container {
	height: calc(100vh - 100px);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 40px;
}

.product-container-sub {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}

.product-container-left {
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-container-right-ingre {
	font-size: 20px;
	font-style: italic;
}

.product-container-right {
	flex: 1;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.product-container-imageContainer {
	width: 80%;
	height: 80%;
	position: relative;
}

.product-container-right-price {
	margin-bottom: 15px;
	/* color: #c00a27; */
	color: #e2241a;
	font-size: 24px;
	font-weight: 600;
}

.product-container-right-choose {
	font-size: 23px;
}

.product-container-right-sizes {
	width: 40%;
	display: flex;
	justify-content: space-between;
}

.product-container-right-size {
	position: relative;
	cursor: pointer;
}

.product-container-right-number {
	position: absolute;
	top: -10px;
	right: -40px;
	background-color: teal;
	color: white;
	font-size: 18px;
	padding: 5px 10px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-container-right-ingredients {
	display: flex;
	margin-bottom: 15px;
}

.product-container-right-option {
	display: flex;
	align-items: center;
	margin-right: 15px;
	font-size: 18px;
	font-weight: 500;
}

.product-container-right-checkbox {
	width: 20px;
	height: 20px;
}

.product-container-right-quantity {
	width: 60px;
	height: 40px;
	text-align: center;
}

.product-container-right-button {
	height: 40px;
	margin-left: 10px;
	/* background-color: #c00a27; */
	background-color: #e2241a;
	color: white;
	border: none;
	font-weight: 500;
	cursor: pointer;
	padding: 0 10px;
	border-radius: 20px;
	font-size: 15px;
}

@media screen and (max-width: 480px) {
	.container {
		height: auto;
		text-align: center;
		flex-direction: column;
		margin-top: 20px;
	}

	.imageContainer {
		width: 70vw;
		height: 70vw;
	}

	.title {
		margin: 5px;
	}

	.sizes {
		width: 100%;
		padding: 0px 20px;
	}

	.ingredients {
		flex-direction: column;
	}

	.option {
		margin: 10px;
		font-size: 18px;
	}

	.checkbox {
		width: 25px;
		height: 25px;
	}

	.quantity,
	.button {
		height: 50px;
		padding: 10px 20px;
	}
}

/* Cart  */

.cart-container {
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
}

.cart-main {
	display: flex;
	flex-direction: row;
}

.cart-title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

.cart-title h2 {
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 600;
}

.cart-container-left {
	flex: 3;
}

.cart-container-right {
	flex: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart-imgContainer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart-imgContainer img {
	border-radius: 50%;
}

.cart-table {
	width: 100%;
	border-spacing: 20px;
}

.cart-name {
	font-weight: 500;
	/* color: #d1411e; */
	color: #e2241a;
	font-size: 18px;
}

.cart-total {
	font-weight: 500;
	font-size: 18px;
}

.cart-container-right-wrapper {
	width: 75%;
	max-height: 300px;
	background-color: #333;
	padding: 50px;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	color: white;
}

.totalText {
	margin-bottom: 5px;
}

.totalTextTitle {
	margin-right: 10px;
}

.checkout-button {
	padding: 10px 10px;
	/* color: #d1411e; */
	color: #e2241a;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

td {
	text-align: center;
}

.cart-total-title {
	text-align: center;
	margin-bottom: 10px;
}

.cart-extras p {
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

@media screen and (max-width: 480px) {
	.cart-container {
		flex-direction: column;
		padding: 20px;
	}

	.cart-table {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.cart-trTitle {
		display: none;
	}

	.cart-tr {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
	}

	.cart-imgContainer {
		width: 35vw;
		height: 35vw;
	}

	.cart-name,
	.cart-total {
		font-size: 24px;
	}

	.cart-extras,
	.cart-price,
	.cart-quantity {
		font-size: 22px;
	}

	.cart-price::before {
		content: "Price: ";
		font-weight: 500;
	}
	.cart-quantity::before {
		content: "Quantity: ";
		font-weight: 500;
	}
	.cart-total::before {
		content: "Total: ";
		font-weight: 500;
	}

	.cart-container-right-wrapper {
		width: 100%;
	}
}

/* Footer  */

.footer {
	background-color: #e2241a;
	height: auto;
	width: 100%;
	padding-top: 50px;
}

.footer-wrapper {
	margin-right: 7em;
	margin-left: 7em;
	border-top: 1px solid #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.social-container {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	padding-top: 30px;
	padding-bottom: 30px;
}

.links-container {
	display: flex;
	width: 80%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.links-main {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.links {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	font-size: 20px;
}

.links a {
	text-decoration: none;
	color: #fff;
	margin-bottom: 5px;
	margin-right: 20px;
	margin-left: 20px;
}

.copyright {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
}

.copyright span {
	padding-left: 10px;
	padding-right: 10px;
}

.copyright span:nth-child(2) {
	border-left: 3px solid #fff;
	border-right: 3px solid #fff;
}

@media only screen and (max-width: 900px) {
	.footer {
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.footer-wrapper {
		margin-right: 2em;
		margin-left: 2em;
		flex-direction: column;
	}
	.social-container {
		width: 85%;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.social-container span {
		font-size: 1.5em !important;
	}
	.links-container {
		display: flex;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.links-main {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.links {
		font-size: 15px;
	}
	.links a {
		text-decoration: none;
		color: #fff;
		margin-bottom: 5px;
		margin-right: 20px;
		margin-left: 20px;
	}
	.copyright {
		flex-direction: column;
		text-align: center;
		font-size: 12px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.copyright span {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.copyright span:nth-child(2) {
		border-left: 0;
		border-right: 0;
	}
}
